@import url(http://fonts.googleapis.com/css?family=Marko+One);
@import url(http://fonts.googleapis.com/css?family=Bad+Script);

body {
  margin: 0;
  padding: 0;
}

h1	{
	font-size: 3em;
/*	text-align: left;
	color: white;*/
	font-family: 'Bad Script', cursive;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
/*	text-align: center;
*/}

p {
	font-size: 1em;
}

footer {
	font-size: 1em;
/*	text-align: center;
	background-color: black;
	padding-bottom: 20px;
	color: white;*/
}

#top {
/*	background-color: black;
	padding: 50px 50px 20px 50px;
	background-image: url("../images/antoine.jpg");
	background-repeat: no-repeat;
	background-position: right center;*/
/*	position: absolute;
*/}

#middle {
/*	background-color: black;
	padding: 20px;*/
}

#main {
/*	padding: 20px 40px 20px 40px;
	margin: 0px 50px 0px 50px;
	background-color: white;*/
}

#container {
/*	padding: 20px;
*/	font-family: 'Marko One', serif;
}

/*.rhythm	{
	background-image: url("../images/rhythm.jpeg");
	background-repeat: no-repeat;
	background-position: right;
}*/

/*.end2end {
	background-image: url("../images/end2end.jpg");
	background-repeat: no-repeat;
	background-position: right;
}*/

.work {

}

.title {

}

.logo {

}

.name {

}

.photo {

}

.all {
	position: relative;
}

.navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	width: 600px;
}

/* Additional markup method */
.clear {
	clear: both;
}


/* Clear fix hack method */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
